body{
    background: linear-gradient(90deg, rgb(115, 210, 252) 0%, rgb(139, 102, 241) 100%);
}

.title{
    text-align: center;
}
footer{
    text-align: center;
    font-size: 18px;
    color: rgb(27, 26, 26);
    font-weight: 700;

}

